body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    }
    
    header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    text-align: center;
    }
    header h1 a {
    color: red;
    text-decoration: none;
}
.enculf{
    text-align: center;
    border-bottom: 1px solid #999;
    border-left: 1px solid rebeccapurple;
    border-right:1px solid rebeccapurple;
    border-top: 2px solid salmon;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top:4rem;
    
}
header h2 {
color: red;
text-decoration: none;
}
.post-entry {
margin-bottom: 2rem;
text-align: center;
}
.post-entry p {
margin: 0;
font-weight: 800;
}
